* {font-weight: 300;}
textarea, input, button, span {outline: none;}
body {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  background-color: rgba(101,103,101,0.7);
  background-blend-mode: multiply;}
input, textarea {border: none; resize: none;}
input { padding: 8px;}

input:focus, span:focus {
  padding: 8px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

:root{
  --daily: #FF434C;
  --weekly: #7D2F80;
  --yearly: #00C7FF;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  content: url('gd-name.svg');
  height: 80px;
  margin: 0;
}

.tagline {
  margin: auto 0;
  flex-grow: 1;
  font-size: 2em;
}

.tagline span {
  font-weight: 500;
}

.get {
  color: var(--daily);
}

.something {
  color: var(--weekly);
}

.done {
  color: var(--yearly);
}

h2 {
  font-weight: 300;
  margin: 0;
  font-size: 36px;
  padding: 8px;
}

.all-goals {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

.goal-header {
  color: #fff;
  margin-bottom: 8px;
  text-align: center;
  flex-direction: column;
}
.daily {
  background: var(--daily);
}
.weekly {
  background: var(--weekly);
}
.yearly {
  background: var(--yearly);
}

.goal-list { 
  padding: 8px;
}

.dblclick {
  font-style: italic;
  font-size: 0.5em;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%)
}

.goal-section {
  height: 50vh;
  width: 33%;
  margin: 24px;
  flex-grow: 1;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  overflow: scroll; 
  background: #fff;
  position: relative;
}

.new-goal-input, .start-input {
  border: none;
  border-bottom: 1px solid #b2b2b2;
  margin: 8px;
  width: 90%;
  font-size: 18px;
}

.start-input {
  margin-bottom: 24px;
}
.goal-span {
  text-align: left;
  font-size: 18px;
  flex-grow: 1;
  width: 50%;
  word-wrap: break-word;
}

.goal-edit {
  text-align: left;
  font-size: 18px;
  flex-grow: 1;
  width: 50%;
  word-wrap: break-word;
}

.goal-div {
  display: flex;
  align-items: center; 
  margin-bottom: 4px;
}

.goal-item  {
  flex-grow: 1;
  list-style-type: none;
  -webkit-padding-start: 0;
}

.goal-info {
  margin-top: 400px;
  font-style: italic;
}

.checkbox {
  margin: 0 8px 0 0;
  content: '';
  height: 24px;
  width: 24px;
  align-self: flex-start;
}

.checkbox:hover {
  background: #ccc;
  border-radius: 50%;
}

.checked {
  content: url('check-filled.svg');
}

.unchecked {
  content: url('uncheck-circle.svg');
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.x-btn {
  visibility: hidden;
  border: none;
  color: #ccc;
  font-size: 1.5em;
}

.x-btn:hover {
  color: #555;
}
.goal-div:hover .x-btn{ 
  visibility: visible;
}

#quotebox {
  color: #fff;
  border-top:  1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 8px;
  display: inline-block;
}

#quotebox h3, h4 {
  text-shadow: 2px 2px 2px #000;
}

.content-wrapper {
  text-align: center;
}

.start-info {
  font-size: 1.5em;
  padding: 8px;
}
.start-info a {
  color: #00C7FF;
}

.start-info a:hover {
  color: rgb(0, 101, 129);
  cursor: pointer;
}

.starting-section, .get-help {
  margin: 8px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  background: #fff;
}

.get-started {
  display: flex;
  justify-content: center;  
}

.starting-section {
    height: fit-content;
    position: relative;
}
.get-help {
  max-width: 40%;
}

.start-header, .help-header {
  color: #fff;
  background: #00C7FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #00C7FF, #7D2F80, #FF434C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(right, #00C7FF, #7D2F80, #FF434C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
  list-style-type: disc; 
}

.help-section {
  text-align: left;
  padding: 8px;
  max-height: 50vh;
  overflow: scroll;
}
.G {
  content: url('geo-g.svg');
  height: 50px;
  padding: 8px;
}
.active {
  background-color: #FFFFFF65;
}

#timestamp {
  font-size: 4em;
  font-weight: bold;
  padding: 8px;
  color: #fff;
}

#weather {
  width: 110px;
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  padding-bottom: 8px;
  color: #fff;
}

#weatherTemp, #weatherIcon {
  font-size: 3em;
  padding: 4px;
}

#weatherDescript, #weatherCity {
  font-weight: 500;
}

#dailyGoalList, #weeklyGoalList, #yearlyGoalList {
  list-style-type: none;
  padding: 8px;
}


